<nav class="navbar">
    <div class="logo">
      <span >SPHERE</span>
    <P>CONSTRUCTIONS</P>
    </div>
        <ul class="nav-links">
        <li><a routerLink="/">HOME</a><li></li>
           <li><a routerLink="/service">SERVICE</a></li>
           <li><a routerLink="/about">ABOUT</a></li>
           <li><a routerLink="/project">PROJECTS</a></li>
           <li><a routerLink="/contact">CONTACT</a></li>
        </ul>
  </nav>
    <div class="h">
      <h1>CONTACT</h1>
    </div>
    <div class="a"></div>
    <div class="maps">
        <img src="assets/gmaps.jpeg" width="800px">
    </div>
    <section class="contact">
        <div class="text">
            <H2>Inquiries</H2>
            <p>For any inquiries, questions or commendations, please call: 123-456-7890 or fill out the following form.</p>
        </div>
        <div class="text">
            <H2>Head Office</H2>
            <p>500 Terry Francine Street </p>

            <p>San Francisco, CA 94158</p>

               <p>info@mysite.com</p>
                
                <p>Tel: 123-456-7890</p>
                
                <p>Fax: 123-456-7890.</p>
        </div>
        <div class="text">
            <H2>Contact Us</H2>
        <form >
            <label for="name">First Name*</label>
            <input type="text" >
            <label for="Last">Last Name*</label>
            <input type="text" >
            <label for="email">Email*</label>
            <input type="text" >
            <label for="subject">Subject*</label>
            <input type="text" >
            <label for="Message">Message</label>
            <textarea name="Message" id="Message"></textarea>
            <button type="submit">Submit</button>
        </form>
        </div>
        <div class="text">
            <H2>Employment</H2>
            <p>To apply for a job with Sphere Constuctions, please send a cover letter together with your C.V. to: info@mysite.com</p>
            <H3>Get a quote: 123-456-7890 </H3>
        </div>
    </section>
    <footer>
        <p>&copy;2024 by Sphere Constructions. Powered and secured by Sreeja</p>
    </footer>
    
