*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    background-color: rgb(30,45,59);
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    background-color: rgb(237,205,31);
    padding: 20px 20px;
    width: 20%;
}
.logo span{
    font-size: 24px;
    font-weight: bold;
}
.nav-links{
    list-style-type: none;
    display: flex;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.nav-links li a:hover{
    color: yellow;
}

.service{
display: flex;
margin-bottom: 34px;
}
.box h2{
    line-height: 1.1em;
    font-size: 22px;
    color: rgb(61,89,117);
    font-family: Arial, Helvetica, sans-serif;
}
.box p{
    line-height: 1.1em;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.box img{
    width: 300px;
    height: 225px;
    object-fit: cover;
    object-position: 50% 50%;
}
.box{
    border: none;
    padding: 34px;
    margin: 25px 26px;
    border-radius: 28px;
    background-color: #f2f2f2;
    margin-bottom: 20px;

}
.center{
    text-align: center;
    position: relative;
    margin: 10px 10px;
   
}
.a{
    background-color: rgb(237,205,31);
    width:120px;
    height: 10px;
    margin: 0 auto;
    margin-top: 0%;
}

