<nav class="navbar">
    <div class="logo">
      <span >SPHERE</span>
    <P>CONSTRUCTIONS</P>
    </div>
        <ul class="nav-links">
        <li><a routerLink="/">HOME</a><li></li>
           <li><a routerLink="/service">SERVICE</a></li>
           <li><a routerLink="/about">ABOUT</a></li>
           <li><a routerLink="/project">PROJECTS</a></li>
           <li><a routerLink="/contact">CONTACT</a></li>
        </ul>
  </nav>

<h1 class="center">SERVICES</h1>
<div class="a"></div>
<section class="service"> 
    <div class="box">
        <img src="assets/service1.jpg" alt="">
    <h2>Preconstruction Planning</h2>
    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
    </div>
    <div class="box">
        <img src="assets/service2.jpg" alt="">
    <h2>Architectural Modelling</h2>
    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
    </div>
    <div class="box">
        <img src="assets/service3.jpg" alt="">
    <h2>Construction Management</h2>
    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
    </div>
</section>
