*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    background-color: rgb(30,45,59);
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    background-color: rgb(237,205,31);
    padding: 20px 20px;
    width: 20%;
}
.logo span{
    font-size: 24px;
    font-weight: bold;
}
.nav-links{
    list-style-type: none;
    display: flex;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.nav-links li a:hover{
    color: yellow;
}
.hero img{
    height: 600px;
    width: 1327px;
}
.overlay-text{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    font-size: 2.5rem;  
}
